.titleHeader{
	margin-left: 5%;
}

.imgProduct{
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.buttonExplore{
	font-size: 25px;
	border-radius: 50px;
}

.upItem{
	margin-top: -30px;
}

.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.topText{
	margin-top: 35%;
}

.topPrices{
	margin-top: -30px;
}

.padCol{
	--ion-grid-column-padding: 0px;
}