.titleHeader{
	margin-left: 5%;
}

.imgProduct{
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.buttonExplore{
	//background: #f47f1f;
	font-size: 25px;
	border-radius: 50px;
	//height: 40px;
	//width: 40px;


}

.upItem{
	margin-top: -20px;
}

.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
}