ion-content {
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 20px;
  --padding-top: 20px;
}

.imagesCenter{
	margin-top: 10px;
	text-align: center;
}

.imageLogo{
	height: 65px;
}

.spaceButton{
	width: 80%;
	margin: auto;
}

.sizeFont{
	font-size: 30px;
}

span{
	display: block;
}