<ion-content>
	<div >
		<div class="imagesCenter">
			<img src="assets/imgs/logo.png"  class="imageLogo"/>
			<img src="assets/imgs/welcome.png" />
		</div>

		<div class="center">
			<h1 class="fontRalewayBold colorText sizeFont"><span >Encuentra los</span><span>mejores audifonos</span></h1>
			<p  class="colorTextGray fontRalewayMedium"><span>Busca y adquiere  los mejores audifonos</span><span>de las mejores marcas  al alcance de tu</span><span>móvil.</span></p>
		</div>

		<div class="spaceButton">
			<ion-button color="orange" expand="full" shape="round" (click)="firstTutorial()">Comenzar</ion-button>
		</div>
	</div>
</ion-content>
