<ion-header class="ion-no-border">
  <ion-toolbar class="backGroundColor2">
    <ion-row >
      <ion-col size="3">
        <div  >
          <ion-skeleton-text animated  *ngIf="flags.flagSkeleton == 0" class="thumball"></ion-skeleton-text>
           <img class="thumball" src="{{userProfile.picture.large}}" *ngIf="flags.flagSkeleton == 1">
      </div>
      </ion-col>
      <ion-col size="6">
        <div class="containerTitle">
					<ion-skeleton-text animated class="titleSkeleton" *ngIf="flags.flagSkeleton == 0"></ion-skeleton-text>
          <p class="title titleName" *ngIf="flags.flagSkeleton == 1" >Bienvenido, {{userProfile.name}} </p>
        </div>
        
	
      </ion-col>
    </ion-row>


			<ion-buttons slot="end" *ngIf="flags.flagSkeleton == 1" (click)="filerProduct()">
				<ion-button class="buttonSearch">
						<ion-icon src="assets/icon/search.svg"  ></ion-icon>
				</ion-button>
			</ion-buttons>
				



			

		
    <!--<ion-title>homeShoppingCart</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content  class="backGroundColor2 ">
	

	<!--Title Offers-->
	<h3 *ngIf="flags.flagSkeleton == 1" class="fontRalewayBold colorText titleSize1">Ofertas del día</h3>
	<ion-skeleton-text animated class="heightSkeleton" *ngIf="flags.flagSkeleton == 0"></ion-skeleton-text>

	<!--offers-->
	<ion-skeleton-text animated class="heightSliderSkeleton" *ngIf="flags.flagSkeleton == 0"></ion-skeleton-text>
	<ion-slides   pager="false" [options]="slideOpt1" *ngIf="flags.flagSkeleton == 1">
		<ion-slide class="slide1"  *ngFor="let data of allProductsoffers"   >
		<ion-card class="card" > 
			<div class="divProductOffers">
				<p class="titleProductOffers">{{data.product_name}}</p>
			</div>
			
			<div class="sizeContainerDiv" (click)="detailProduct(data)">
				<div class="triangleRotate" >
				<div class="triangle"></div>
			
			</div>
			<img src="{{data.product_image}}" class="imageOffer">
		</div>

		<div>
			<div style="float:left; width: 50%;">
				<div class="divProductOffersPrice">
					<p class="finalPriceTotal">$ {{data.priceDiscount}}</p>
					<p class="finalPriceDiscount">$ {{data.product_price}}</p>
				</div>
			</div>
			<div style="padding-top: 15px;">
				<ionic-rating-component #rating
        activeIcon = "star"
        defaultIcon = "star-outline"
        activeColor = "#ffd27d" 
        defaultColor = "#ffd27d"
        readonly="false"
        rating="{{data.score}}"
        fontSize = "17px"
        (ratingChanged)="onRatingChange($event)">
    </ionic-rating-component>
			</div>
		</div>
		
			
		</ion-card>
	
	</ion-slide>
	</ion-slides>



	<!--Products List-->
	<h3 *ngIf="flags.flagSkeleton == 1"  class="fontRalewayBold colorText titleSize1">Descubre</h3>
	<ion-skeleton-text animated class="heightSkeleton" *ngIf="flags.flagSkeleton == 0"></ion-skeleton-text>
	<div>

	<ion-skeleton-text animated class="heightSkeletonProducts" *ngIf="flags.flagSkeleton == 0"></ion-skeleton-text>
	<ion-grid style="--ion-grid-padding:5px;" *ngIf="flags.flagSkeleton == 1" >
		 <ion-row >
			 <ion-col size="6" class="ion-no-padding" *ngFor="let data of allProducts">
				 <ion-card class="cardProducts">
					 <div>
						 <div style="float:left; width: 75%; margin-top: -15px;height: 25%;">
							<div class="divProduct">
								<p class="titleBrand">{{data.brand}}</p>
								<p class="titleProduct">{{data.product_name}}</p>
							</div>
						 </div>

						 <div>
							 
							<ion-buttons slot="end" *ngIf="flags.flagSkeleton == 1">
								<ion-button class="buttonFavorite" [ngClass]="{buttonColorGrayFavorite: data.is_favorite === false, buttonColorRedFavorite: data.is_favorite === true}">
										<ion-icon src="assets/icon/favorite.svg"  ></ion-icon>
								</ion-button>
							</ion-buttons>
						 </div>
					 </div>

				
					<div style="margin-top: 25px; margin-left: -10px; " (click)="detailProduct(data)">
					 <div class="triangleRotateProduct" >
							<div class="triangle"></div>
						</div>
						<img src="{{data.product_image}}" class="imageProduct" >
					</div>
					
					<div>
						<div style="float:left; width: 60%;">
							<div class="divProductPrice">
								<p class="finalPriceProducts"><span>$ {{data.product_price}}</span></p>
								<ionic-rating-component #rating
								activeIcon = "star"
								defaultIcon = "star-outline"
								activeColor = "#ffd27d" 
								defaultColor = "#ffd27d"
								readonly="false"
								rating="{{data.score}}"
								fontSize = "15px"
								(ratingChanged)="onRatingChange($event)">
						</ionic-rating-component>
							</div>
						</div>
						<div style="float: right;">

							<ion-buttons style="position: absolute; bottom: 0; right: -2px;">
								<ion-button class="buttonAdd" >
										<ion-icon src="assets/icon/add.svg"  ></ion-icon>
								</ion-button>
							</ion-buttons>
						</div>
					</div>
					
	
					
				 </ion-card>
			 </ion-col>
			 <!--<ion-col size="6" class="ion-no-padding">
				<ion-card class="cardProducts">Text2</ion-card>
			 </ion-col>

			 <ion-col size="6" class="ion-no-padding">
				<ion-card class="cardProducts">text</ion-card>
			</ion-col>
			<ion-col size="6" class="ion-no-padding">
			 <ion-card class="cardProducts">Text2</ion-card>
			</ion-col>-->
		 </ion-row>
	 </ion-grid>
	</div> 



	<ion-fab vertical="bottom" horizontal="center" slot="fixed" style="bottom: -30px;" (click)="shoppingCart()" *ngIf="flags.flagSkeleton == 1">
    <ion-fab-button color="orange" style="height: 70px; width: 70px;">
			<ion-icon src="assets/icon/shopping_cart.svg"  ></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


<ion-skeleton-text animated class="heightSkeleton" *ngIf="flags.flagSkeleton == 0"></ion-skeleton-text>
<ion-footer style="background: #f3f3f3;" class="ion-no-border" *ngIf="flags.flagSkeleton == 1">
	<ion-toolbar style="border-top-left-radius: 30px; border-top-right-radius: 30px;border: 1px solid #f3f3f3; ">
		<ion-grid >
			<ion-row >
				<ion-col size="4">
				
						<ion-buttons  >
							<ion-button class="buttonExplore"  >
									<ion-icon src="assets/icon/explore.svg"  ></ion-icon>
							</ion-button>
						</ion-buttons>
		
					
				</ion-col>
				<ion-col size="4">

					<!--<div class="centerButton">
						<ion-buttons style="--border-radius: 50px;" >
							<ion-button class="buttonCart"  >
									<ion-icon src="assets/icon/shopping_cart.svg"  ></ion-icon>
							</ion-button>
						</ion-buttons>
					</div>
					-->
					
				</ion-col>
				<ion-col size="4">
					<ion-buttons  >
						<ion-button class="buttonExplore"  >
								<ion-icon src="assets/icon/list.svg"  ></ion-icon>
						</ion-button>
					</ion-buttons>
				</ion-col>
			</ion-row>
		</ion-grid>
		
		<ion-icon src="assets/icon/shopping_cart.svg"  ></ion-icon>
	</ion-toolbar>
</ion-footer>
