ion-content {
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 20px;
  --padding-top: 20px;
}

ion-button{
	--border-radius: 50px !important;
}

.thumball{
	margin-top: 3px;
  height: 55px;
  width: 55px;
	margin-left: 10px;
  border-radius: 100px;
}

.heigthDiv{
	height: 55px;
}

.containerTitle{
  position: relative;
  height: 100%;
}

.title{
 	margin: auto;
  position: absolute;
  top: 55%;
  left: 0;
  bottom: 0;
	margin-left: -5%;
}

.titleSkeleton{
	margin: auto;
  position: absolute;
  height: 50%;
  top: 25%;
  left: 0;
  bottom: 0;
  margin-left: -5%;
}

.buttonSearch{
	font-size: 20px;
  margin-top: 25%;
}

.buttonFavorite{
	font-size: 20px;
	border-radius: 20px;
  height: 35px;
  width: 35px;
}

.buttonColorRedFavorite{
	background: #ff1f2c;
}

.buttonColorGrayFavorite{
	background: #bdbcbc;
}

.heightSkeleton{
	height: 35px;
}

.heightSliderSkeleton{
	height:  175px;
}

.heightSkeletonProducts{
	height: 200px;
}

.slide1{
  width: 275px !important;
}

.card{
	height: 175px;
	width: 275px;
	border-radius: 15px;
  background: #ffffff;
}

.cardProducts{
	height: 200px;
	border-radius: 15px;
  background: #ffffff;
	margin: 	3px;
	padding: 	10px;
}

.ion-padding{
	padding: 0px
}


.divProductOffers{
	width: 275px;
	margin-top: -5px;
  margin-left: -20%;
}

.divProductOffers{
	//width: 275px;
	//@at-root: -5px;
  //margin-left: -20%;
}

.titleProductOffers{
	font-family: Poppins-Medium; font-size: 12pt; color: #000000
}

.titleProduct{
	font-family: Poppins-Medium; font-size: 9pt; color: #000000;
	margin-top: -10px;
	margin-left: -2px;
}

.titleBrand{
	font-family: Poppins-Medium; font-size: 8pt; color: #bdbcbc
}

.titleName{
	font-family: Poppins-Medium; font-size: 12pt; color: #4f4e4e
}

.finalPriceDiscount{
	font-family: Poppins-Bold; font-size: 14pt; color: #4f4e4e;
	margin-top: -15px;
	margin-left: 20px;
}

.finalPriceProducts{
	font-family: Poppins-Bold; font-size: 12pt; color: #4f4e4e;
	position: relative;
	margin: -10px;
  margin-left: 5px;
}

.finalPriceTotal{
	font-family: Poppins-Medium; font-size: 12pt; color: #ffd056;
	text-decoration: line-through;
}

.sizeContainerDiv{
	width: 275px; margin-top: -20px;
}

.imageOffer{
	height: 65px;
  z-index: 9999;
  position: relative;
  margin-top: -25px;
  transform: rotate(20deg);
}

.imageProduct{
	height: 65px;
  z-index: 9999;
  position: relative;
  transform: rotate(20deg);
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonAdd{
	height: 45px;
  width: 60px;
  background: #f47f1f;
	border-top-left-radius: 25px;
}

.buttonCart{
	background: #f47f1f;
	font-size: 20px;
	border-radius: 50px;
	height: 60px;
	width: 60px;
}

.buttonExplore{
	font-size: 25px;
	border-radius: 50px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerButton{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.divProductOffersPrice{
	margin-top: -25px;
	margin-left: -25px;
}

.divProductPrice{
	margin-left: -5px;
	margin-top: 25px;
}

.triangleRotate{
	margin-left: 37%; 
	transform: rotate(-20deg);
}

.triangleRotateProduct{
	margin-left: 30%;
	transform: rotate(-20deg);
	position: absolute;

}

.triangle {
	position: relative;
	background-color: #f8ba88;
	text-align: left;
	opacity: 0.6;
	
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
	width:  50px;
	height: 50px;
	border-top-right-radius: 50%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}





